.h1-tag{
    color: darkblue;
}
h3{
    color:black;
}
.p-tag{
    color:rgb(24, 156, 156);
}
.tag-p{
color:black;
}
.welcome-details{
background-color: rgb(221, 253, 253);
border-radius: 20px;
}
.half-width{
    align-items: center;
}
.slide-images {
    width: 149%;
    border-radius: 20px;
}
.about-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-image{
    width:100%;
}
/* Make it responsive */
@media only screen and (max-width:688px) {
    .about-section{
        grid-template-columns: repeat(1, 1fr);
        width:50%;
    }
    .heading{
        display: none;
    }

    .about-image{
        display:none;
    }
    .slide-images{
        display:none;

    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .about-section{
        grid-template-columns: repeat(2, 1fr);
        width:50%;
    }
    .heading{
       
        display: none;
    }
    .about-image{
        display:none;
    }
    .slide-images{
        display:none;

    }
}